table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--surface-color);
  th {
    border-bottom: 1px solid var(--on-background-color);
    padding: 1rem 0;
  }
  
  th:not(:last-of-type), td:not(:last-of-type) {
    border-right: 1px solid var(--on-background-color);
  }
}
